@model Category
@{
    ViewData["Title"] = "Books";
}

<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Categories</h3>
            <table class="table" id="categoryData">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Add Category</h3>
            <div class="tile-body">
                <form action="/Dashboard/Category/_AddOrEdit"  method="post" id="form1" onsubmit="submitForm(this)">
                    <input type="hidden" asp-for="Id" value="0" />
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" asp-for="Name" type="text" placeholder="Enter full name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" asp-for="Description" rows="4" placeholder="Enter your address"></textarea>
                    </div>
                </form>
            </div>
            <div class="tile-footer">
                <button class="btn btn-primary" type="submit" form="form1"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
            </div>
        </div>
    </div>
    <div class="clearix"></div>
</div>

@section scripts{
    <!-- Data table plugin-->
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
    @*<script type="text/javascript">$('#categoryData').DataTable();</script>*@
    <script type="text/javascript">
        var dataTable;
        $(document).ready(function () {
            dataTable = $('#categoryData').DataTable({
                ajax: {
                    url: "/Dashboard/Category/GetData",
                    type: "Get",
                    contentType: "application/Json",
                    dataType: "Json"
                },
                columns: [
                    { data: "id" },
                    { data: "name" },
                    { data: "description" },
                ],
                language: {
                    infoempty: "No records found!",
                    emptyTable: "No Data Found! Please Click <b>Add New</b> to add.",
                },
            });
        });

        //For Refresh DataTable while closing Popup Dialog
        function submitForm(form1) {
            alert(form1.action);
            $(form1).submit(function (e) {
                e.preventDefault();
                var url = form1.action;
                var method = form1.method;
                
            });
            return this;
            //$(form1).submit(function (e) {
            //    e.preventDefault();

            //    var url = "/Dashboard/Category/_AddOrEdit";
            //    alert(url);

            //    $.ajax({
            //        type: "POST",
            //        url: url,
            //        data: $(form1).serialize(),
            //        dataType: "json",
            //        contentType: 'application/json',
            //        success: function (data) {
            //            if (data.success) {
            //                dataTable.ajax.reload();
            //                alert(data.message);
            //                //$.notify(data.message, {
            //                //    globalPosition: "top center",
            //                //    className: "success",
            //                //});
            //            }
            //        }
            //    });
            //    //return false;
            //});           
        }

        if (document.location.hostname == 'pratikborsadiya.in') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-72504830-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
}