@model IEnumerable<Category>
@{
    ViewData["Title"] = "Books";
}

<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Categories</h3>
            <table class="table" id="categoryData">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Add Category</h3>
            <div class="tile-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" type="text" placeholder="Enter full name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" rows="4" placeholder="Enter your address"></textarea>
                    </div>
                </form>
            </div>
            <div class="tile-footer">
                <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
            </div>
        </div>
    </div>
    <div class="clearix"></div>
</div>

@*<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@
@section scripts{
    <!-- Data table plugin-->
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#categoryData').DataTable();</script>
    <script type="text/javascript">
        //var dataTable;
        //$(document).ready(function () {
        //    dataTable = $('#categoryData').DataTable({
        //        ajax: {
        //            url: "Dashboard/Category/GetData",
        //            type: "Get",
        //            datatype: "json",
        //        },
        //        columns: [
        //            { data: "Id" },
        //            { data: "Name" },
        //            { data: "Description" },
        //        ],
        //        language: {
        //            infoempty: "No records found!",
        //            emptyTable: "No Data Found! Please Click <b>Add New</b> to add.",
        //        },

        //    });
        //});

        if (document.location.hostname == 'pratikborsadiya.in') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-72504830-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
}