@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "_LayoutN";
}

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Checkout</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="index.html">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Checkout</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Checkout Area -->
<section class="wn__checkout__area section-padding--lg bg__white">
    <div class="container">
        @*<div class="row">
            <div class="col-lg-12">
                <div class="wn_checkout_wrap">
                    <div class="checkout_info">
                        <span>Returning customer ?</span>
                        <a class="showlogin" href="#">Click here to login</a>
                    </div>
                    <div class="checkout_login">
                        <form class="wn__checkout__form" action="#">
                            <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>

                            <div class="input__box">
                                <label>Username or email <span>*</span></label>
                                <input type="text">
                            </div>

                            <div class="input__box">
                                <label>password <span>*</span></label>
                                <input type="password">
                            </div>
                            <div class="form__btn">
                                <button>Login</button>
                                <label class="label-for-checkbox">
                                    <input id="rememberme" name="rememberme" value="forever" type="checkbox">
                                    <span>Remember me</span>
                                </label>
                                <a href="#">Lost your password?</a>
                            </div>
                        </form>
                    </div>
                    <div class="checkout_info">
                        <span>Have a coupon? </span>
                        <a class="showcoupon" href="#">Click here to enter your code</a>
                    </div>
                    <div class="checkout_coupon">
                        <form action="#">
                            <div class="form__coupon">
                                <input type="text" placeholder="Coupon code">
                                <button>Apply coupon</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="customer_details">
                    <h3>Billing details</h3>
                    <div class="customar__field">
                        <form id="orderForm">
                            <div class="margin_between">
                                <input type="hidden" name="Id" value="0" />
                                <div class="input_box space_between">
                                    <label asp-for="Order.FirstName">First name <span>*</span></label>
                                    <input name="FirstName" type="text">
                                </div>
                                <div class="input_box space_between">
                                    <label asp-for="Order.LastName">last name <span>*</span></label>
                                    <input type="text" name="LastName">
                                </div>
                            </div>
                            <div class="input_box">
                                <label asp-for="Order.Country">Country <span>*</span></label>
                                <input type="text" name="Country">
                            </div>
                            <div class="input_box">
                                <label asp-for="Order.Address">Address <span>*</span></label>
                                <input type="text" name="Address" placeholder="Street address">
                            </div>
                            <div class="input_box">
                                <input type="text" name="State" placeholder="State">
                            </div>
                            <div class="input_box">
                                <label asp-for="Order.ZipCode">Postcode / ZIP <span>*</span></label>
                                <input type="text" name="ZipCode">
                            </div>
                            <div class="margin_between">
                                <div class="input_box space_between">
                                    <label asp-for="Order.PhoneNumber">Phone <span>*</span></label>
                                    <input type="text" name="PhoneNumber">
                                </div>

                                <div class="input_box space_between">
                                    <label asp-for="Order.Email">Email address <span>*</span></label>
                                    <input type="email" name="Email">
                                </div>
                            </div>
                        </form>
                    </div>
                    @*<div class="create__account">
                        <div class="wn__accountbox">
                            <input class="input-checkbox" name="createaccount" value="1" type="checkbox">
                            <span>Create an account ?</span>
                        </div>
                        <div class="account__field">
                            <form action="#">
                                <label>Account password <span>*</span></label>
                                <input type="text" placeholder="password">
                            </form>
                        </div>
                    </div>*@
                    <div class="create_order">
                        <button type="button" onclick="SubmitOrder()" class="btn btn-light w--100">Order Now</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
                <div class="wn__order__box">
                    <h3 class="onder__title">Your order</h3>
                    <ul class="order__total">
                        <li>Product</li>
                        <li>Total</li>
                    </ul>
                    <ul class="order_product">
                        @foreach (var item in Model.ShopingCart.ShopingCartItems)
                        {
                            <li>@item.Book.Name × @item.Amount<span>$@(item.Amount*item.Book.Price)</span></li>
                        }
                    </ul>
                    <ul class="shipping__method">
                        <li>Cart Subtotal <span>$@Model.ShopingCartTotal</span></li>
                        <li>
                            Shipping
                            <ul>
                                <li>
                                    <input name="shipping_method[0]" data-index="0" value="legacy_flat_rate" checked="checked" type="radio">
                                    <label>Flat Rate: $10.00</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="total__amount">
                        <li>Order Total <span>$@(Model.ShopingCartTotal+10)</span></li>
                    </ul>
                </div>
                <div id="accordion" class="checkout_accordion mt--30" role="tablist">
                    <div class="payment">
                        <div class="che__header" role="tab" id="headingOne">
                            <a class="checkout__title" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span>Direct Bank Transfer</span>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="payment-body">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</div>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="che__header" role="tab" id="headingTwo">
                            <a class="collapsed checkout__title" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span>Cheque Payment</span>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="payment-body">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</div>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="che__header" role="tab" id="headingThree">
                            <a class="collapsed checkout__title" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span>Cash on Delivery</span>
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="payment-body">Pay with cash upon delivery.</div>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="che__header" role="tab" id="headingFour">
                            <a class="collapsed checkout__title" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span>PayPal <img src="~/images/icons/payment.png" alt="payment images"> </span>
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="payment-body">Pay with cash upon delivery.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Checkout Area -->
@section scripts{ 
    
    <script>
        function SubmitOrder() {
            var obj = $("#orderForm").serialize();
            //var obj = new FormData(document.getElementById("orderForm"));

            $.ajax({
                type: "post",
                url: "/Order/Checkout",
                data: obj,
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                //processData: false,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                }
            });
        }
    </script>
}