@model IOrderedEnumerable<Category>


@foreach (var item in Model)
{
    <li>
        <a asp-controller="Book" asp-action="Gallery" asp-route-category="@item.Name">@item.Name</a>
    </li>
}
<li class="divider"></li>
<li><a href="~/Book/Gallery">All Books</a></li>
