@model Book
@{ 
    Layout = null;
}

    <form method="post" onsubmit="return submitForm(this)">
        @if (Model is null)
        {
            <input type="hidden" asp-for="Id" value="0"/>
        }
        else
        {
            <input type="hidden" asp-for="Id" />
        } 
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <select asp-for="CategoryId" asp-items="@ViewData["Catagories"] as List<SelectListItem>" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" type="text" placeholder="Enter full name">
        </div>
        <div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control" placeholder="Enter email address">
        </div>
        <div class="form-group">
            <label asp-for="Details" class="control-label"></label>
            <textarea asp-for="Details" class="form-control" rows="4" placeholder="Enter your address"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="ImgFile" class="control-label"></label>
            <input asp-for="ImgFile" class="form-control" type="file">
            <input type="hidden" asp-for="ImgUrl" />@( (Model != null) ? Model.ImgUrl : "")
        </div>
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input asp-for="Active" class="form-check-input" type="checkbox"> Active
                </label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" rows="4" placeholder="Enter your address">
        </div>
        <div class="form-group">
            <label asp-for="PriceOffer" class="control-label"></label>
            <input asp-for="PriceOffer" class="form-control" rows="4" placeholder="Enter your address">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>