@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a href="#">@User.Identity.Name</a></li>
    <li>
        <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
        <form asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
            
        </form>
    </li>
}
else
{
    <li><a id="registerLink" asp-action="Register" asp-controller="Account">Register</a></li>
    <li><a id="logiLink" asp-action="Login" asp-controller="Account">Login</a></li>
}